#logo_img {
    height: 80px;
    width: 80px;
}

img {
    max-width: 100%;
    height: auto;
    border: none; 
}

#total, #pay {
    text-align: right;
    color: blue;
}

input, button {
    padding: 7px;
}

#add {
    padding: 2px;
}

#cartlist, #btn_remove {
    font-size: small;
    display: inline-block;
    width: 120px;
    padding: 0px;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    width: 400px;
}

#message {
    border-radius: 7px;
    padding: 5px;
    width: 420px;
}

#price, #description {
    font-size: small;
}

label {
    width: 200px;
    display: inline-block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/background.jpg);
    text-align: center;
}

div {
    padding: 7px;
}

.items {
    width: 150px;
    display: inline-block;
}

.title {
    font-size: x-large;
    font-family: fantasy;
}

header {
    display: inline-block;
    padding: 0px;
    width: 200px;
}

header a:link, header a:hover, header a:visited, header a:active {
    text-decoration: none;
    color: darkblue;
}

nav {
    display: inline-block;
    vertical-align: top;
    padding: 5px; 
    width: 1000px;
}

h1 {
    color: cornsilk;
}

nav li {
    display: inline;
    font-family: 'Arial';
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0.2em;
    border: 1px solid transparent;
}
 
nav li:hover {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: lightgrey;
}
 
section {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}
 
article {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 660px;
    max-width: 700px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
 
aside {
    display: inline-block;
    vertical-align: top;
    width: 440px;
    background-color: lightgrey;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    color: black;
    font-size: 0.9em;
}
 
footer {
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
} 