h1 {
    text-align: center;
    color: blue;
}

input, button {
    padding: 7px;
}

fieldset, #message {
    margin-bottom: 20px;
    padding: 10px;
    width: 400px;
}

#message {
    border-radius: 7px;
}

label {
    width: 200px;
    display: inline-block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

div {
    padding: 7px;
}

.items {
    width: 150px;
    display: inline-block;
}