h1 {
    text-align: center;
    color: blue;
}

input, button {
    padding: 7px;
}

fieldset, #message {
    margin-bottom: 20px;
    padding: 7px;
    width: 400px;
}

label {
    width: 200px;
    display: inline-block;
}